In [31]:
import pandas
import os
from sklearn import preprocessing

In [32]:
root = "/".join(os.getcwd().split("/")[:-1])
path = os.path.join(root, 'resource/kaggle/csv/articles.csv')

In [33]:
table = pandas.read_csv(path, dtype=str)
table['detail_desc'] = table['detail_desc'].fillna("<NA>")

In [34]:
encoder = preprocessing.LabelEncoder()
head = 10
key = "article_id_code"
encoder.fit(table['article_id'])
table[key] = encoder.transform(table['article_id']) + head

In [35]:
loop = [
    'product_code', 'prod_name', 'product_type_no',
    'product_type_name', 'product_group_name', 'graphical_appearance_no',
    'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
    'perceived_colour_value_id', 'perceived_colour_value_name',
    'perceived_colour_master_id', 'perceived_colour_master_name',
    'department_no', 'department_name', 'index_code', 'index_name',
    'index_group_no', 'index_group_name', 'section_no', 'section_name',
    'garment_group_no', 'garment_group_name', 'detail_desc'
]
for key in loop:

    encoder.fit(table[key])
    table[key] = encoder.transform(table[key]) + head
    pass

In [30]:
storage = os.path.join(root, 'resource/preprocess/')

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,article_id_code
0,0108775015,10,40773,22,131,17,26,35,19,11,...,10,16,10,12,13,53,11,15,14573,10
1,0108775044,10,40773,22,131,17,26,35,20,57,...,10,16,10,12,13,53,11,15,14573,11
2,0108775051,10,40774,22,131,17,27,36,21,39,...,10,16,10,12,13,53,11,15,14573,12
3,0110065001,11,30478,64,25,26,26,35,19,11,...,11,17,10,12,52,56,24,28,21955,13
4,0110065002,11,30478,64,25,26,26,35,20,57,...,11,17,10,12,52,56,24,28,21955,14

In [ ]:
cache.article = table.copy()